---
layout: print
permalink: /print
---

{% include career-profile.html %}

{% include recommendations.html %}

{% include experiences.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include publications.html %}

<a id="saveAsPdfBtn" href="https://www.sejda.com/html-to-pdf">Save as PDF</a>
<script>
document.getElementById('saveAsPdfBtn').addEventListener('click', function(e){
  var pageUrl = encodeURIComponent(window.location.href);
  var opts = ['save-link=' + pageUrl, 'pageOrientation=auto'];
  window.open('https://www.sejda.com/html-to-pdf?' + opts.join('&'));
  e.preventDefault();
});
</script>

<a href="https://www.sejda.com/html-to-pdf?save-link=https%3A%2F%2Fjamonterotena.github.io%2FMy-resume%2Fprint">Save as PDF</a>
