{% assign skills_sidebar = site.data.data.sidebar.skills_sidebar %}
{% if skills_sidebar %}
<div class="skills_sidebar-container container-block">

  <h2 class="container-block-title">
    {{ skills_sidebar.title }}
  </h2>

  <ul class="list-unstyled interests-list">
    {% for skill_sidebar in skills_sidebar.info %}
    <li>
      <span class="lang-desc">{{ skill_sidebar.level }}</span>&nbsp;&nbsp;&nbsp;&nbsp;{{ skill_sidebar.idiom }}
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
